.outerMost{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.outer{
    border: 1px solid black;
    height: 50vh;
    width: 25vw;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: centersssssss;
    justify-content: end;
    background-image: linear-gradient(rgb(239, 169, 111), rgb(250, 233, 195));
    
    
}
.input{
    width: 90%;
    height: 10%;
    margin: 15px;

}
.list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: brown;
    border: 1px solid brown;
    margin-right: 2vw;
    padding: 5px;
    width: 20vw;
}
.dlt{
    background-color: red;
}

.done{
    background-color: greenyellow;
}
